<div class="container-fuild" >
  <div class="row justify-content-center" >
    <div class="col-8 col-sm-5 col-md-5 col-lg-3">
      <%= image_tag @post.get_image, class:"post_show_image rounded img-fluid" %>
    </div>

    <div class="col-10 col-sm-6 col-md-6">
      <div class=" border-bottom border-secondary">
        <%= link_to user_path(@post.user_id) do %>
          <%= image_tag @post.user.get_profile_image(50,50) %>
          <%= @post.user.name %>
        <% end %>
      </div>
      <div>
        <p class="mt-2"><b>
          <i class="fa-regular fa-font-awesome"></i>
          <%= @post.shop_name %>
        </b></p>
        <p><%= @post.body %></p>
        <p><%= @post.address %></p>
        <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <div>
      <div class="d-flex">
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-info mr-1" %>
          <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="border-top border-dark">
    <div class="mt-2 d-flex">
      <div class=<%= "favorite-" + @post.id.to_s %> >
      <%= render "public/favorites/btn", post: @post %>
      </div>
      <p class="mx-3">コメント件数:<%= @post.post_comments.count %></p>
    </div>

      <% @post.post_comments.each do |post_comment| %>
          <div class="row border-bottom">
            <div class="col-8">
              <%= link_to user_path(post_comment.user_id) do %>
                <%= image_tag post_comment.user.get_profile_image(40,40) %>
                <%= post_comment.user.name %>
              <% end %>
              <p class="ml-5"><%= post_comment.comment %></p>
            </div>
            <div class="col-4">
              <% if post_comment.user == current_user %>
                <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), data: { confirm: '本当に削除しますか？' }, method: :delete, class:"btn-sm" %>
              <% end %>
            </div>
          </div>
        <% end %>
     

    <div class="mt-1">
      <%= form_with model: [@post, @post_comment] do |f| %>
        <%= f.text_area :comment,rows: '2', placeholder: "コメントをここに入力" %>
        <%= f.submit "送信", class:'btn btn-sm btn-secondary'%>
      <% end %>
    </div>
  </div>

    <div class="mt-1 text-right">
      <span class="text-right">
        <%= link_to "ユーザーページへ>>", user_path(@post.user_id) %>
        <br>
        <%= link_to "投稿一覧へ>>", posts_path %>
      </span>
    </div>
  </div>
</div>
