<div class="container-fuild m-4">
  <% if @model == "user" %>
    <h3>検索結果  "<%= @content %>"</h3>
    <%= render '/public/users/index', users: @records %>
    <div class="mt-2">
      <%= paginate @records %>
    </div>
  <% else %>
    <h3>検索結果  "<%= @content %>"</h3>
    <div class="row justify-content-center justify-content-sm-start" >
      <%= render '/public/posts/post_index', posts: @records %>
    </div>
    <div class="mt-2">
      <%= paginate @records %>
    </div>
  <% end %>
</div>
