<div class="d-flex p-3 bg-light border-bottom">
  <div class="mr-3">
    <%=  image_tag @user.get_profile_image(150,150), class:"rounded" %>
  </div>
  <div>
    <p>
      <i class="fa-regular fa-circle-user"></i>
      <%= @user.name %>
    </p>
    <div>
      自己紹介<br>
      <%= @user.introduction %><br>
      <% if @user.email != "guest@example.com" && (@user == current_user) %>
        <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-info btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<div class="m-4">
  <h3><ins>post</ins></h3>
  <div class="d-flex flex-wrap" >
    <% @posts.each do |post| %>
      <div class="card" style="width: 13rem;" >
        <div class="card-body" >
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_image, class:"rounded img-fluid" %>
          <% end %><br>
          <i class="fa-regular fa-font-awesome"></i>
          <%= post.shop_name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  

