
  <div class="container">
    <div class="row mb-3">
      <div class="d-flex col-md-4 col-sm-12">
        <div>
          <%=  image_tag @user.get_profile_image(100,100) %>
        </div>
        <div>
          <p>name:  <%= @user.name %></p>
          <p>自己紹介:   <%= @user.introduction %></p>
          <% if @user.email != "guest@example.com" && (@user == current_user) %>
          <%= link_to "プロフィール更新", edit_user_path(current_user) %>
          <% end %>
        </div>
      </div>
  
      <div class="d-flex col-md-8 col-sm-12" >
        <% @posts.each do |post| %>
          <div>
          <%= link_to post_path(post) do %>
             <%= image_tag post.get_image(200,200) %>
          <% end %>
          <%= post.shop_name %>
        </div>
     <% end %>
     </div>  
  </div>
  

