<div class="d-flex p-3 bg-light border-bottom">
  <div class="mr-3">
    <%=  image_tag @user.get_profile_image(150,150), class:"rounded" %>
  </div>
  <div>
    <p>
      <i class="fa-regular fa-circle-user"></i>
      <%= @user.name %>
    </p>
    <div>
      自己紹介<br>
      <%= @user.introduction %><br>
      <% if @user.email != "guest@example.com" && (@user == current_user) %>
        <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-info btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fuild m-4">
  <h3><ins>post</ins></h3>
  <div class="row justify-content-center justify-content-sm-start" >
    <% @posts.each do |post| %>
      <div class="card pb-4" style="width: 13rem;" >
        <div class="card-body" >
          <div  class="h-100">
            <div>
            <%= link_to post_path(post) do %>
              <%= image_tag post.get_image, class:"rounded img-fluid" %>
            <% end %>
            </div>
          </div>
          <div class=" text-truncate">
            <i class="fa-regular fa-font-awesome"></i>
            <%= post.shop_name %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

