<div>
  <%=  image_tag @user.get_profile_image(100,100) %>
  <%= @user.name %>
  <%= @user.introduction %>
</div>

<% @posts.each do |post| %>
<div>
  <p>店名：<%= post.shop_name %></p>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
</div>
<% end %>
  
  

