<div>
  <%=  image_tag @user.get_profile_image(100,100) %>
  <h3>名前</h3>
  <%= @user.name %>
  <h3>自己紹介</h3>
  <%= @user.introduction %>
  <% if @user.email != "guest@example.com" && (@user == current_user) %>
    <%= link_to "プロフィール更新", edit_user_path(current_user) %>
  <% end %>
</div>

<% @posts.each do |post| %>
<div>
  <p>店名：<%= post.shop_name %></p>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
</div>
<% end %>
  
  

