<h2>編集</h2>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました。
  <ul>
    <% @post.errors.full_messages.each do |message| %>       
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with model: @post do |f| %>
  <%= f.file_field :image, accept: "image/*", class: "W-100" %>
  <div class="form-group">
    <label>店名</label><br>
    <%= f.text_field :shop_name, autofocus: true, class: "form-control col-6" %>
  </div>
  <div class="form-group">
    <label>コメント</label><br>
    <%= f.text_area :body, class: "form-control col-6" %>
  </div>
  <div class="form-group">
    <%= f.submit '更新', class: "btn btn-info" %>
  </div>

<% end %>

<div>
<%= link_to "<<戻る", user_path(@post.user_id) %> 
|
<%= link_to "一覧>>", posts_path %>
</div>