<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p><%= image_tag post_image.user.get_profile_image(100,100) %></p>
  <p>店名：<%= post.shop_name %></p>
  <p>コメント:<%= post.body %></p>
  <p>ユーザーネーム<%= post.user.name %></p>
<% end %>  