<h2>投稿</h2>

<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました。
  <ul>
    <% post.errors.full_messages.each do |message| %>       
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
 

<%= form_with model: @post do |f| %>
  <%= f.file_field :image, accept: "image/*", class: "W-100" %>
  </div>
  <div class="form-group">
    <label>店名</label>
    <p><%= f.text_field :shop_name, autofocus: true, class: "form-control", placeholder: "ショップ名", class:"col-7 col-md-5"%></p>
  </div>
  <div class="form-group">
    <label>コメント</label>
    <p><%= f.text_area :body, class: "form-control", placeholder: "コメントここに", class:"col-7 col-md-5" %></p>
  </div>
  <div class="form-group">
    <%= f.submit '投稿', class: "btn btn-info" %>
  </div>
<% end %>
  