<div class="container" >
  <div class="row" >
      <div class="col-sm-6 col-md-5 col-lg-4">
        <%= image_tag @post.get_image(300,300), class:"rounded" %>
      </div>

    <div class="col-sm-6 col-md-5">
      <div class=" border-bottom border-secondary">
        <%= image_tag @post.user.get_profile_image(50,50) %>
        <%= @post.user.name %>
      </div>
      <div>
        <p >
          <i class="fa-regular fa-font-awesome"></i>
          <%= @post.shop_name %>
        </p>
        <p><%= @post.body %></p>
        <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <div>
      <div class="d-flex">
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-info mr-1" %>
          <%= link_to "削除", post_path(@post), method: :delete, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
      <div >
       <%= link_to "<<戻る", :back %>
      </div>
  </div>
</div>
</div>
