<div class="container" >
  <div class="row" >
      <div class="col-sm-6 col-md-5 col-lg-4">
        <%= image_tag @post.get_image, class:"rounded img-fluid" %>
      </div>

    <div class="col-sm-6 col-md-5">
      <div class=" border-bottom border-secondary">
        <%= link_to user_path(@post.user_id) do %>
          <%= image_tag @post.user.get_profile_image(50,50) %>
        <% end %>
        <%= @post.user.name %>
      </div>
      <div>
        <p><b>
          <i class="fa-regular fa-font-awesome"></i>
          <%= @post.shop_name %>
        </b></p>
        <p><%= @post.body %></p>
        <p>投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></p>
      <div>
      <div class="d-flex">
        <% if @post.user == current_user %>
          <%= link_to "編集", edit_post_path(@post), class: "btn btn-sm btn-info mr-1" %>
          <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %>
      </div>
      <div >
       <%= link_to "<<戻る", :back %>
      </div>
  </div>
</div>
</div>
