<div class="container">
  <div class="row no-gutters">
    <div class="col-md-6 col-sm-10 mx-sm-auto border rounded" >
      <h4 class="text-dark bg-light py-4 mb-0 text-center">ログイン</h4>
      <div class="form-body p-4">

      <div class="mx-auto text-center">
        <p>メールアドレスとパスワードを<br>
        入力してください</p>
      </div>

      <%= form_with model: @user, url: user_session_path do |f| %>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" aria-hidden="true"><i class="fa-regular fa-envelope"></i></span>
          </div>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id:"inputEmail", placeholder: "メールアドレス" %>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
           <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
          </div>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"パスワード" %>
        </div>
        <diV>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
        </div>
        <%= f.submit "ログイン", class:"btn btn-block btn-info" %>
      <% end %>
       <%= link_to "新規登録", new_user_registration_path %>
    </div>
  </div>
</div>
