<div class="d-flex p-3 bg-light border-bottom"> 
  <div class="mr-3">
    <%=  image_tag @user.get_profile_image(100,100), class:"rounded" %>
  </div>
  <div>
    <div>
      <b><i class="fa-regular fa-circle-user"></i>
      <%= @user.name %></b>
    </div>
    <div class="mb-2">
      <ins>自己紹介</ins><br>
      <%= @user.introduction %><br>
    </div>
    <div class="d-flex flex-wrap">
      <div class="mr-3">
        フォロー
        <%= link_to follows_user_path(@user) do %>
          <%= @user.followers.count %>
        <% end %>
      </div>
      <div class="mr-3">
        フォロワー
        <%= link_to followers_user_path(@user) do %>
          <%= @user.followeds.count %>
        <% end %>
      </div>
      <div>
        <%= render partial: 'relationships/follow_btn', locals: { user: @user } %>
        <% if @user.email != "guest@example.com" && (@user == current_user) %>
          <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-info btn-sm" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container-fuild m-4">
  <h3><ins>post</ins></h3>
  <% if @posts.exists? %>
  <div class="row justify-content-center justify-content-sm-start" >
    <%= render '/public/posts/post_index', posts:@posts %>
  </div>
  <% else %>
  <p class="mt-5 text-center">投稿がありません</p>
  <% end %>
</div>

