<div class="d-flex p-3 bg-light border-bottom">
  <div class="mr-3">
    <%=  image_tag @user.get_profile_image(100,100), class:"rounded" %>
  </div>
  <div>
    <p>
      <i class="fa-regular fa-circle-user"></i>
      <%= @user.name %>
    </p>
    <div>
      <ins>自己紹介</ins><br>
      <%= @user.introduction %><br>
      <% if @user.email != "guest@example.com" && (@user == current_user) %>
        <%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-info btn-sm" %>
      <% end %>
    </div>
  </div>
</div>

<div class="container-fuild m-4">
  <h3><ins>post</ins></h3>
  <div class="row justify-content-center justify-content-sm-start" >
    <% @posts.each do |post| %>
      <div class="card">
        <div class="mypage_post card-body">
          <%= link_to post_path(post) do %>
            <%= image_tag post.get_image, class:"rounded mypage_post_image" %>
          <% end %>
          <div class="card-text text-truncate">
            <i class="fa-regular fa-font-awesome"></i>
            <%= post.shop_name %>
          </div>
          <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>

