<!DOCTYPE html>
<html>
  <head>
    <title>Hitokuchi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/acb3394eb7.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
        
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container text_white">
          <a class="navbar-brand p-3 " href="/">
            <i class="fa-regular fa-map"></i>
            hitokuchi
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li class="nav-item mr-3">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "マイページ", user_path(current_user) %>
              <li>
              <li class="nav-item mr-3">
                <%= link_to "一覧", posts_path %>
              </li>
              <li class="nav-item ">
                <%= link_to "新規投稿", new_post_path  %>
              </li>
              <% else %>
              <li class="nav-item mr-3 ">
                <%= link_to "トップページ", root_path %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "新規登録", new_user_registration_path, class:"link-success" %>
              </li>
              <li class="nav-item mr-3">
                <%= link_to "ログイン", new_user_session_path %>
              </li>
              <% end %>
              </ul>
            </div>
      </nav>
    </header>

    <main class="mb-auto m-2">
      <div>
       <%= flash[:notice] %>
       <%= flash[:alert] %>
      </div>
    <%= yield %>
    </main>

    <footer class="bg-info text-white py-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-auto">
            <i class="fa-regular fa-map"></i>
            食べ歩きspot共有サイト
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
